# Project exclude paths
/.gradle/
/Topics/Conditional statement/Leap year/out/
/Topics/Conditional statement/Leap year/out/production/classes/
/Zookeeper/task/build/
/Zookeeper/task/out/
/Zookeeper/task/out/production/classes/